{{template "base" . }}

{{define "content"}}

<div class="container-fluid">
    <div class="row">
        <div class="col-sm">
        <table id="leaveReport" class="display stripe" style="width:100%">
        <thead>
            <tr>

            </tr>
        </thead>
        <tbody id="leaveReportBody></tbody>
        </table>
        <br>
    </div?
</div>

{{end}}